@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

body{
	font-family: roboto;
	margin: 0 ; 
	padding: 0;
	background:#bababa ;
}


.tengah{
	position: relative;
	top: 0;right: 0;left: 0;bottom: 0;
	margin: 0 auto;
}

/* For page login */

#Login-container{
	width: 50%;
	height: 100px ;
	size: 100% 100%;
	padding: 50px;
	background: #6198ff;
}

form{
	position: relative;
	margin: 0 auto;
	transform: translateX(20%);
}

form input{
	border: none;
	background: #e6e6e6;
	width: 30%;
	height: 30px;
	border-radius: 5px;
}

[placeholder] {
	text-align: center;
	color: #6198ff;
	font-weight: bold;
}

#login{
	margin-top: 10px;
	text-align: center;
	color: #6198ff;
	font-weight: bold;
}

/* For page chat */

#text-container{
	position: absolute;
	width: 50%;
	height: 75%;
	margin:0 auto;
	left:0;right:0;top:0;bottom:0;
	overflow-y: scroll;
	background-color: #3F51B5;
	padding: 30px;
	color: white;
}

.time{
	position: relative; 
	float: right;
	font-size: 10px;
	transform: translateY(0);
}

.chat-container{
	position: relative;
	background: #1A237E;
	padding: 10px;
	margin-top:20px;
	border-radius: 5px;
}

.author{
	position: relative;
	width: 20%;
	background-color:#303F9F;
	color:#90A4AE;
	padding: 5px;
	left:-10px;
	top:-10px;
}